
{
  "ignore": ["./node_modules"],
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12",
          "electron": "6"
        }
      }
    ],
    // "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    // https://github.com/gaearon/react-hot-loader#getting-started
    "react-hot-loader/babel",
  ],
}
